*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}
.acceso {
    display: flex;
    justify-content: right;
    margin: 0 auto; 
    padding-right: 50px;
    text-decoration: none;
    font-weight: normal;
}
.login {
     padding-right: 20px;
     color: black;
}
.register {
    color: black;
}
.logo {
    display: flex;
    justify-content: center;
}
.logo_foto{
    border-radius: 50%;
    width: 200px;
}
.busqueda {
    display: flex;
    justify-content: right;
    margin-right: 30px;
    padding-top: 15px;
}
.index_section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.index_autos {
    width: 380px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
}

.index_autos img {
    margin-bottom: 15px;
}

.index_autos h3 {
    margin-bottom: 20px;
    font-style: inherit;
}

.index_autos p {
    margin-bottom: 15px;
    font-style: initial;
}

.index_autos a {
    display: inline-block;
    color: white;
    background-color: rgba(48, 44, 44, 0.642);
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}
h2 {
    display: inline-block;
}

